<% layout('layouts/main') -%>

<div class="flex flex-row">
    <form action="/signup" method="POST" class="basis-1/4">
        <label for="">Email</label>
        <input type="text" name="email" placeholder="Email">
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Password">
        <button type="submit" class="" >Registrarse</button>
    </form>
</div>