<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Passport Local - Try</title>
</head>

<body>
    <!-- NAVIGATION -->
    <%- body -%>
</body>

</html>